{% extends 'main.html' %}

{% block content %}

{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert"
  style="width: 50%; margin: auto; text-align: center;">
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1> Active Projects </h1>

<form action="{% url 'create-project' %}" style="float:left; margin-left: 3px;">
  {% csrf_token %}
  <button type="submit" class="btn btn-success">Create Project</button>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Project Id</th>
      <th scope="col">View </th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{project.title}}</td>
      <td>{{project.description}}</td>
      <td>{{project.id}}</td>
      <td><a href="{% url 'project' project.id %}"> View </a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% include 'bugTrackerApp/profileList.html' %}

<br><br><br><br><br><br><br><br><br><br><br>




{% endblock %}